<div id="notice"><%= notice %></div>

<h1>Twiittttter</h1>

<ul>
 <% @posts.each do |post| %>
 <li id="post_<%= post.id %>">
 	<%= link_to post.title, post_path(post) %> (<%= post.comments.size %>)
 	<%= link_to 'edit', edit_post_path(post) %>
 	<%= link_to 'delete', post, :confirm => 'sure?',
 								:method => :delete,
 								:remote => true %>
 </li>
 <% end %>
</ul>

<%= link_to 'home', posts_path %> | <%= link_to 'new', new_post_path %>

<div id='user_nav'>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
  <% end %>
</div>

<ul class="nav">
              <% if user_signed_in? %>
                <li><%= link_to 'ログアウト', destroy_user_session_path %></li>
              <% else %>
                <li><%= link_to "facebookでログイン", user_omniauth_authorize_path(:facebook) %></li>
              <% end %>
            </ul>

<script>
$(function() {
	setTimeout(function() {
		$('#notice').fadeOut("slow");
	}, 800);

	$('a[data-method="delete"]').on('ajax:success',function(e, data,status, xhr) {
		$('#post_'+data.post.id).fadeOut("slow");
	})
});
</script>